<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-4">
            <form action="" ng-submit="vm.searchContract()" name="searchContractsForm">
                <div class="form-group">
                    <label>Izaberi datum:</label>
                    <input date-range-picker class="form-control date-picker" type="text" ng-model="vm.datePicker.date" />
                </div>
                <div class="form-group">
                    <label>Ime:</label>
                    <input class="form-control date-picker" type="text" ng-model="vm.search.fullName" />
                </div>
                <div class="form-group">
                    <label>Registarski broj:</label>
                    <input class="form-control date-picker" type="text" ng-model="vm.search.licencePlate" />
                </div>
                <div class="form-group">
                    <label>Paket:</label>
                    <input class="form-control date-picker" type="text" ng-model="vm.search.packetId" />
                </div>
                <button class="btn btn-primary" type="submit">Pretraga</button>
            </form>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <form>
                <div class="form-group">
                    <br />
                    <br />
                    <br />
                    <div ng-repeat="(key, value) in vm.getSumPerPacket(vm.contracts.data)">
                        <label>{{key}} - Suma: {{value}} rsd</label>
                        <br />
                    </div>
                    <div ng-repeat="(key, value) in vm.getQuantityPerPacket(vm.contracts.data)">
                        <label>{{key}} - Kolicina: {{value}} komada</label>
                        <br />
                    </div>
                    <br />
                    <div>
                        <label> <strong>Placeni:
								{{vm.calculateTotalContractsPaid(vm.contracts.data)}}</strong></label>
                        <label>
                            <br />
                    </div>
                    <div>
                        <strong>Neplaceni:
							{{vm.calculateTotalContracstUnpaid(vm.contracts.data)}}</strong></label>
                        <label>
                            <br />
                    </div>
                    <div>
                        <strong>Ukupno:
							{{vm.calculateTotalContract(vm.contracts.data)}}</strong></label>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
        <table ng-table="vm.contracts" class="table" show-filter="true">
            <tr ng-repeat="contract in $data">
                <td title="'Broj ugovora'" filter="{ id: 'number'}" sortable="'id'">
                    {{contract.id}}</td>
                <td title="'Ime i prezime'" filter="{ name: 'text'}" sortable="'name'">{{contract.name}}</td>
                <td title="'Datum'" filter="{ creationDate: 'text'}" sortable="'creationDate'">{{contract.creationDate}}</td>
                <td title="'Registarska oznaka'" filter="{ licencePlate: 'text'}" sortable="'licencePlate'">{{contract.licencePlate}}</td>
                <td title="'Paket'" filter="{ packetName: 'text'}" sortable="'packetName'">{{contract.packetName}}</td>
                <td title="'Cena Paketa'" filter="{ packetPrice: 'text'}" sortable="'packetPrice'">{{contract.packetPrice}}</td>
                <td title="'Placeno'" ng-if="$root.user.roles.ROLE_ADMIN" class="text-center" filter="{ active: 'text'}" sortable="'active'">{{contract.active}}
                    <div ng-switch on="contract.active">
                        <div ng-switch-when="Placeno">
                            <div class="btn-group">
                                <button type="button" class="btn btn-circle primary btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Y <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" ng-click="vm.changePaidStatus(true, contract.id)">Placeno</a>
                                    </li>
                                    <li><a href="javascript:void(0)" ng-click="vm.changePaidStatus(false, contract.id)">Nije
											Placeno</a></li>
                                </ul>
                            </div>
                        </div>
                        <div ng-switch-when="Nije Placeno">
                            <div class="btn-group">
                                <button type="button" class="btn btn-circle btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    X <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" ng-click="vm.changePaidStatus(true, contract.id)">Placeno</a>
                                    </li>
                                    <li><a href="javascript:void(0)" ng-click="vm.changePaidStatus(false, contract.id)">Nije
											Placeno</a></li>
                                </ul>
                            </div>
                        </div>
                        <div ng-switch-default>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger btn-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    X <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" ng-click="vm.changePaidStatus(true, contract.id)">Placeno</a>
                                    </li>
                                    <li><a href="javascript:void(0)" ng-click="vm.changePaidStatus(false, contract.id)">Nije
											Placeno</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
                <td title="'Prodavac'" ng-if="$root.user.roles.ROLE_ADMIN">
                    {{contract.user.name}}</td>
                <td title="'Obrisi'" ng-if="$root.user.roles.ROLE_ADMIN">
                    <button type="button" class="btn btn-danger" ng-confirm-click="Da li ste sigurni da zelite da obrisete ?" confirmed-click="vm.deleteContract(contract.id)">X</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <!-- 				   <strong>Ukupno placenih: {{ vm.calculateTotalContractsPaid($data) }}</strong></br> -->
                    <!-- 				   <strong>Ukupno neplacenih: {{ vm.calculateTotalContractsUnpaid($data) }}</strong></br> -->
                </td>
                <!-- 				<td><strong>Placeni: {{ -->
                <!-- 						vm.calculateTotalContractsPaid($data) }}</strong></br> <strong>Neplaceni: -->
                <!-- 						{{ vm.calculateTotalContracstUnpaid($data) }}</strong></br> <strong>Ukupno: -->
                <!-- 						{{ vm.calculateTotalContract($data) }}</strong></td> -->
            </tr>
        </table>
    </div>
</div>
