<!-- <div class="col-xs-3"> -->
<!-- 	<ul class="list-group"> -->
<!-- 		<li ng-repeat="doc in vm.docs" class="list-group-item"> -->
<!-- 			<a href="downloads/{{doc}}">{{doc}}</a> -->
<!-- 		</li> -->
<!-- 	</ul> -->
<!-- </div> -->
<!-- <div >-->
<!-- <img src="img/c-fit.png" alt="" class="col-xs-12">-->
<!-- </div>-->
<div class="col-xs-12" style="text-align:center; margin-top:10%;">
    <a href="/">
        <img src="img/c-fit.png" alt="Crossfitns" />
    </a>
    <br>
    <br>
    <a href="http://journal.crossfit.com/start.tpl?version=CFJ-white123x63"><img src="img/cf-journal.png" alt="CrossFit on Facebook" /></a>
    <br>
    <br>
    <a href="https://www.facebook.com/crossfitns"><img src="img/fb.png" alt="CrossFit on Facebook"></a>
</div>
