<div class="col-xs-12" style="text-align:center;">
<!--     <div class="col-xs-12">
        
            <h2><b>OBAVESTENJE</b> 
                </br> U petak 30.09.2016. Nece biti treninga.
            </h2>
            </br>
    </div> -->
    </br>
    <div class="col-xs-12">
        <a href="/">
            <img src="img/c-fit-main.png" class="img-responsive" style="margin: 0 auto;" alt="Crossfitns" />
        </a>
    </div>
    </br>
    </br>
    <a href="http://journal.crossfit.com/start.tpl?version=CFJ-white123x63"><img src="img/cf-journal.png" alt="CrossFit on Facebook" /></a>
    <br>
    <br>
    <a href="https://www.facebook.com/crossfitns"><img src="img/fb.png" alt="CrossFit on Facebook"></a>
</div>
