<div class="col-xs-12" style="text-align:center; margin-top:5%;">
    <div class="col-xs-12">
        <a href="http://infocfns.wix.com/nscrossfight2" target="_blank" style="color:white;">
            <h2><b>NS CrossFight 2</b> takmicenje 
                </br> kliknite za vise informacija i prijave
            </h2>
            </br>
            <img src="img/crossfight2.png" class="img-responsive" style="margin: 0 auto;" alt="CrossFight2" />
        </a>
    </div>
    </br>
    <div class="col-xs-12" style="margin-top:5%;">
        <a href="/">
            <img src="img/c-fit.png" class="img-responsive" style="margin: 0 auto;" alt="Crossfitns" />
        </a>
    </div>
    </br>
    </br>
    <a href="http://journal.crossfit.com/start.tpl?version=CFJ-white123x63"><img src="img/cf-journal.png" alt="CrossFit on Facebook" /></a>
    <br>
    <br>
    <a href="https://www.facebook.com/crossfitns"><img src="img/fb.png" alt="CrossFit on Facebook"></a>
</div>
