<div class="row">
    <div class="col-xs-12">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="search-tab"><a href="javascipt:void(0);#search-tab" aria-controls="home" role="tab" data-toggle="tab" ng-click="vm.search()"><strong>Pretraga
							aktivnih ugovora i izvrsenje</strong></a></li>
                <li role="presentation"><a href="javascipt:void(0);#profile" aria-controls="profile" role="tab" data-toggle="tab"><strong>Izvrseni
							ugovori</strong></a></li>
                <li role="presentation"><a href="javascipt:void(0);#packet" aria-controls="packet" ng-if="$root.user.roles.ROLE_ADMIN" role="tab" data-toggle="tab" ng-click="vm.searchPacket()"><strong>Izmena
							paketa</strong></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="search-tab">
                    <div class="panel panel-default">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Broj Ugovora:</label>
                                <input type="text" class="form-control" name="brandAndType" ng-model="vm.preformedService.contractNumber">
                            </div>
                            <div class="form-group">
                                <label>Ime i Prezime:</label>
                                <input type="text" class="form-control" name="fullName" ng-model="vm.preformedService.fullName">
                            </div>
                            <div class="form-group">
                                <label>Reg Oznaka:</label>
                                <input type="text" class="form-control" name="regNumber" ng-model="vm.preformedService.regNumber">
                            </div>
                            <div class="form-group">
                                <label>Broj Sasije:</label>
                                <input type="text" class="form-control" name="chassisNumber" ng-model="vm.preformedService.chassisNumber">
                            </div>
                            <div class="form-group">
                                <label>Izaberi datum:</label>
                                <input date-range-picker class="form-control date-picker" type="text" ng-model="vm.preformedService.datePicker.date;" />
                            </div>
                            <button type="button" class="btn btn-default pull-right" ng-click="vm.search()">Pretraga</button>
                            <div class="col-xs-12">
                                <hr>
                            </div>
                            <table ng-table="vm.contracts" class="ui table compact inverted segment" show-filter="true">
                                <tr ng-repeat="contract in $data">
                                    <td title="'Broj ugovora'" filter="{ id: 'number'}" sortable="'id'">{{contract.id}}</td>
                                    <td title="'Ime i prezime'" filter="{ name: 'text'}" sortable="'name'">{{contract.name}}</td>
                                    <td title="'Datum'" filter="{ creationDate: 'text'}" sortable="'creationDate'">{{contract.creationDate}}</td>
                                    <td title="'Registarska oznaka'" filter="{ licencePlate: 'text'}" sortable="'licencePlate'">
                                        {{contract.licencePlate}}</td>
                                    <td title="'Paket'" filter="{ packetName: 'text'}" sortable="'packetName'">{{contract.packetName}}</td>
                                    <td title="'Cena'" filter="{ packetPrice: 'text'}" sortable="'packetPrice'">{{contract.packetPrice}}</td>
                                    <td title="'Status'">
                                        <div ng-switch on="contract.usesRemaining">
                                            <div ng-switch-when="2">
                                                <button type="button" class="btn btn-success btn-circle">
                                            </div>
                                            <div ng-switch-when="1">
                                                <button type="button" class="btn btn-warning btn-circle">
                                            </div>
                                            <div ng-switch-when="0">
                                                <button type="button" class="btn btn-danger btn-circle">
                                            </div>
                                            <div ng-switch-default>
                                                <button type="button" class="btn btn-danger btn-circle">
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-if="$root.user.roles.ROLE_ADMIN && contract.usesRemaining > 0" title="'Izvrsi'" class="text-center">
                                        <button type="button" class="btn btn-warning" ng-click="vm.executeContract(contract.id)">Izvrsi ugovor
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Ukupno: {{
											vm.calculateTotalContract($data) }}</strong></br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="panel panel-default">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Izaberi datum:</label>
                                <input date-range-picker class="form-control date-picker" type="text" ng-model="vm.datePicker.date" />
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-default" ng-click="vm.searchExecutedContracts()">Pretrazi</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12">
                            <hr>
                        </div>
                        <div class="col-xs-12">
                            <table ng-table="vm.executedContracts" class="table" show-filter="true">
                                <tr ng-repeat="data in $data">
                                    <td title="'Broj ugovora'" filter="{ contractId: 'number'}" sortable="'id'">{{data.contractId}}</td>
                                    <td title="'Ime i prezime'" filter="{ name: 'text'}" sortable="'name'">{{data.name}}</td>
                                    <td title="'Datum'" filter="{ date: 'text'}" sortable="'creationDate'">{{data.date}}</td>
                                    <td title="'Registarska oznaka'" filter="{ licencePlate: 'text'}" sortable="'licencePlate'">
                                        {{data.licencePlate}}</td>
                                    <td title="'Paket'" filter="{ packetName: 'text'}" sortable="'packetName'">{{data.packetName}}</td>
                                    <td title="'Cena paketa'" filter="{ packetPrice: 'text'}" sortable="'packetPrice'">{{data.packetPrice}}</td>
                                    <td title="'Vozilo'" filter="{ vehicle: 'text'}" sortable="'vehicle'">{{data.contract.vehicle}}</td>
                                    <td ng-if="$root.user.roles.ROLE_ADMIN" title="'Obrisi'" class="text-center">
                                        <button type="button" class="btn btn-danger" ng-confirm-click="Da li ste sigurni da zelite da obrisete ?" confirmed-click="vm.deleteExecution(data.id)">Obrisi izvrsenje
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="packet" ng-if="$root.user.roles.ROLE_ADMIN">
                    <div class="panel panel-default">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Ime paketa:</label>
                                <input type="text" class="form-control" name="username" ng-model="vm.packet.name">
                            </div>
                            <div class="form-group">
                                <label>Cena paketa:</label>
                                <input type="text" class="form-control" name="name" ng-model="vm.packet.price">
                            </div>
                            <div class="form-group">
                                <label>Broj koriscenja:</label>
                                <input type="number" class="form-control" name="name" ng-model="vm.packet.usage">
                            </div>
                            <div class="form-group">
                                <label>Da li je aktivan:
                                    <input type="checkbox" value="" class="form-control" name="isAdmin" ng-model="vm.packet.isActive" ng-checked="vm.packet.isActive">
                                </label>
                            </div>
                            <button type="button" class="btn btn-default pull-right" ng-click="vm.editingInProgress ? vm.saveEditedPacket() : vm.createPacket()">Sacuvaj</button>
                            <br />
                            <br />
                            <br />
                            <div class="col-xs-12">
                                <table ng-table="vm.packets" class="table" show-filter="true">
                                    <tr ng-repeat="packet in $data">
                                        <td title="'Broj paketa'" filter="{ id: 'number'}" sortable="'id'">{{packet.id}}</td>
                                        <td title="'Ime paketa'" filter="{ name: 'text'}" sortable="'name'">{{packet.name}}</td>
                                        <td title="'Broj koriscenja'" filter="{ usage: 'text'}" sortable="'name'">{{packet.usage}}</td>
                                        <td title="'Cena'" filter="{ price: 'text'}" sortable="'name'">{{packet.price}} rsd</td>
                                        <td title="'Aktivan'" filter="{ isActive: 'text'}" sortable="'name'">{{packet.isActive}}</td>
                                        <td title="'Izmeni paket'">
                                            <button type="button" class="btn btn-primary" ng-click="vm.editPacket(packet)">Izmeni</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
