<div class="row" ng-if="$root.user.roles.ROLE_ADMIN || $root.user.roles.ROLE_USER">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-12">
                    <h1 align="center">Prijave {{vm.date}}</h1>
                    <h3 align="center">
					Za dan:
					<button ng-repeat="var in vm.trainingDates.trainingDates" id="buttonToday" type="button" class="btn btn-custom-large"
					ng-click="vm.render(var.startsAt); vm.setDate(var.startsAt)">Prijave
					{{var.startsAt}}</button>
				</h3>
                    </br>
                    <div class="buttons-container">
                        <div class="button-container" ng-repeat="timeSlot in vm.timeSlotsWithRemaining">
                            <label>Termin {{timeSlot.startsAt}}h</label>
                            </br>
                            <label>Ostalo jos:
                            </label>
                            </br>
                            <button type="button" class="btn btn-xlarge" ng-disabled="timeSlot.slotsRemaining == 0" ng-click="vm.createAppointment(timeSlot.id)">{{timeSlot.slotsRemaining}}</button>
                        </div>
                    </div>
                    <h1 align="center">Prijavljeni</h1>
                    </br>
                    </br>
                </div>
                <div class="col-xs-12">
                    <table ng-table="vm.appointments" class="ui table compact inverted segment" show-filter="true">
                        <tr ng-repeat="appointment in $data">
                            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">{{appointment.name}}</td>
                            <td title="'Surname'" filter="{ surname: 'text'}" sortable="'surname'">{{appointment.surname}}</td>
                            <td title="'Training Starts At'" filter="{startsAt: 'text'}" sortable="'startsAt'">{{appointment.startsAt}}h</td>
                            <td title="'Date'" filter="{ usageDate: 'text'}" sortable="'date'">{{appointment.usageDate}}</td>
                            <td ng-if="appointment.user.id == $root.user.id" title="'Obrisi'">
                                <button type="button" class="btn btn-danger" ng-confirm-click="Are you sure you want to cancel your appointment ?" confirmed-click="vm.cancelAppointment(appointment.id)">Cancel</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
