<div class="panel panel-default" ng-if="$root.user.roles.ROLE_ADMIN">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h1 align="center">Treninzi u odabranom periodu</h1>
                <div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Izaberi datume:</label>
                            <input date-range-picker class="form-control date-picker" type="text" ng-model="vm.datePicker.date" />
                        </div>
                        <a>
                            <button type="button" class="btn btn-custom-large pull-right" ng-click="vm.searchTrainings()">Pretrazi</button>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <form>
                            <div class="form-group ">
                                <br />
                                <div ng-repeat="(key, value) in vm.getNumberOfPeoplePerTimeSlot(vm.trainings.data)" class="pull-left" style="text-align: center; padding-left:5px;">
                                    <label  style="border-bottom: 1px solid black" >Dan: {{key}} :</label>
                                    <div ng-repeat="(key,value) in vm.getNumberOfPeoplePerSlotForDay(key)">
                                        <label>Termin:{{key}}h - {{value}} ukupno</label>
                                        </br>
                                    </div>
                                    <br />
                                </div>

                                <!-- <div> style="border-bottom: 1px solid black" 
                                    <label> <strong>Ukupno iskoricenih treninga:
                                    {{vm.calculateTotalContractsPaid(vm.contracts.data)}}</strong></label>
                                    <label>
                                        <br />
                                </div> -->
                            </div>
                        </form>
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-12" style="margin-top:20px;">
                        <table ng-table="vm.trainings" class="ui table compact inverted segment" show-filter="true" ng-table-columns-binding="user.cols">
                            <tr ng-repeat="training in $data">
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">{{training.name}}</td>
                                <td title="'Surname'" filter="{ surname: 'text'}" sortable="'surname'">{{training.surname}}</td>
                                <td title="'Training Starts At'" filter="{startsAt: 'text'}" sortable="'startsAt'">{{training.startsAt}}h</td>
                                <td title="'Date'" filter="{ usageDate: 'text'}" sortable="'date'">{{training.usageDate}}</td>
                                <td ng-if="$root.user.roles.ROLE_ADMIN" title="'Obrisi'">
                                    <button type="button" class="btn btn-danger" ng-confirm-click="Are you sure you want to cancel your appointment ?" confirmed-click="vm.deleteTrainings(training.id)">Obrisi</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
