<div class="panel panel-default" ng-if="$root.user.roles.ROLE_ADMIN || $$root.user.roles.ROLE_COACH">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Korisnicko ime:</label>
                            <input type="text" class="form-control" name="username" ng-model="vm.user.username">
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" class="form-control" name="password" ng-model="vm.user.password">
                        </div>
                        <div class="form-group">
                            <label>Ime:</label>
                            <input type="text" class="form-control" name="name" ng-model="vm.user.name">
                        </div>
                        <div class="form-group">
                            <label>Prezime:</label>
                            <input type="text" class="form-control" name="surname" ng-model="vm.user.surname">
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" class="form-control" name="name" ng-model="vm.user.email">
                        </div>
                        <div class="form-group">
                            <label>Broj treninga:</label>
                            <input type="number" class="form-control" name="name" ng-model="vm.user.sessionsLeft">
                        </div>
                        <div class="form-group">
                            <label>Izaberi datum pocetka i isteka clanarine:</label>
                            <input date-range-picker class="form-control date-picker" type="text" ng-model="vm.datePicker.date" />
                        </div>
                        <div class="form-group" ng-if="$root.user.roles.ROLE_ADMIN || $root.user.roles.ROLE_COACH">
                            <label for="coachId">Odaberite trenera:</label>
                            <select ng-model="vm.user.coachId" name="coachId" ng-options="key as value for (key, value) in vm.coaches">
                            </select>
                        </div>
                        <label class="" for="isActive">Da li je aktivan:
                            <input type="checkbox" id="isActive" class="big-checkbox pull-right" name="isActive" ng-model="vm.user.isActive" ng-checked="vm.user.isActive">
                        </label>
                        </br>
                        <label class="" for="isAdvanced">Da li je advanced:
                            <input type="checkbox" value="" class="big-checkbox  pull-right" id="isAdvanced" name="isAdvanced" ng-model="vm.user.isAdvanced" ng-checked="vm.user.isAdvanced">
                        </label>
                        </br>
                        <label class="" for="isAdmin">Da li je admin:
                            <input type="checkbox" value="" class="big-checkbox pull-right" id="isAdmin" name="isAdmin" ng-model="vm.user.isAdmin" ng-checked="vm.user.isAdmin">
                        </label>
                        <button type="button" class="btn btn-custom-large pull-right" ng-click="vm.editingInProgress ? vm.saveEditedUser() : vm.createUser()">Sacuvaj</button>
                        <br />
                        <br />
                        <br />
                        <div class="col-xs-12">
                            <h3>Odaberi kolone</h3>
                            <div style="margin-bottom: 20px">
                                <label class="checkbox-inline" ng-repeat="col in user.cols">
                                    <input type="checkbox" ng-if="col.title" ng-model-options="{ getterSetter: true }" ng-model="col.show" /> {{col.title()}}
                                </label>
                            </div>
                            </br>
                            <table ng-table="vm.users" class="ui table compact inverted segment" show-filter="true" ng-table-columns-binding="user.cols">
                                <tr ng-repeat="user in $data">
                                    <td title="'Ime'" filter="{ name: 'text'}" sortable="'id'">{{user.name}}</td>
                                    <td title="'Prezime'" filter="{ surname: 'text'}" sortable="'surname'">{{user.surname}}</td>
                                    <td title="'Username'" filter="{ username : 'text'}" sortable="'username'">{{user.username}}</td>
                                    <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{user.email}}</td>
                                    <td title="'Broj treninga'" filter="{ sessionsLeft: 'number'}" sortable="'sessionsLeft'">{{user.sessionsLeft}}</td>
                                    <td title="'Aktivan'" filter="{ isActive: 'text'}" sortable="'isActive'">{{user.isActive}}</td>
                                    <td title="'Admin'" filter="{ isAdmin: 'text'}" sortable="'isAdmin'">{{user.isAdmin}}</td>
                                    <td title="'Datum uplate'" filter="{ datePaid: 'text'}" sortable="'datePaid'">{{user.datePaid}}</td>
                                    <td title="'Datum isteka'" filter="{ dateExpiring: 'text'}" sortable="'dateExpiring'">{{user.dateExpiring}}</td>
                                    <td title="'Trener'" filter="{ coach: 'text'}" sortable="'coach'">{{user.coach}}</td>
                                    <td title="'Edit'">
                                        <button type="button" class="btn btn-primary" ng-click="vm.editUser(user)">Edit</button>
                                    </td>
                                    <td title="'Delete'">
                                        <button type="button" class="btn btn-danger" ng-confirm-click="Da li ste sigurni da zelite da obrisete korisnika ?" confirmed-click="vm.deleteUser(user.id)">Del</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
